.one{
  margin-left: 50px;
}
.two{
  margin-left: 600px;
}
.three{
  margin-left: 200px;
}
.four{
  margin-left: 500px;
}
.five{
  margin-left: 40px;
  display: inline;
}
.six{
  margin-left: 20px;
  display: inline;
}
.seven{
  margin-left: 360px;
}
.eight{
  margin-left: 140px;
  display: inline;
}
.nine{
  margin-left: 540px;
  display: inline;
}
.ten{
  margin-left: 270px;
}
